<h1><%= @selected %> <%= _("is") %> <%= @question %></h1>
<% if @list.size == 1 %>     
 <h2><%= @list.first %> <%= _("is happy") %> </h2>
 <% else %>                        
 <h2><%= humanize_names(@list) %> <%= _("are happy") %></h2>
 <% end %>

<%= link_to(_("Next question"), "/home/index") %>